.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

.item {
    height: auto;
    width: 350px;
}

.title {
    font-weight: bold;
    color: #029cf0;
    font-size: 18px;
}

.price {
    color: #919396;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #029cf0 !important;
}
